<!doctype html>
<html ng-app="demo">

<head>
    <script src="bower_components/angular/angular.js"></script>
    <script>
    angular.module('demo', ['ng'])
    	.constant('apiUrl', 'http://swapi.co/api')
        .config(['starwarsProvider', '$sceProvider', 'apiUrl', function(starwarsProvider, $sceProvider, apiUrl) {

            starwarsProvider.setApiUrl(apiUrl);

            // Completely disable SCE.  For demonstration purposes only!
            // Do not use in new projects.
            $sceProvider.enabled(false);
        }])
        .provider('starwars', function() {
            var apiUrl = null;
            
            this.setApiUrl = function(url) {
                apiUrl = url;
            };

            this.$get = ['$http', function($http) {

                return {
                    people: function(id) {
                        var promise = null;
                        if (typeof id != 'undefined') {
                            promise = $http.get(apiUrl + '/people/' + id);
                        } else {
                            promise = $http.get(apiUrl + '/people');
                        }

                        return promise.then(function(resp) {
                            return resp.data;
                        });
                    }
                };
            }];
        })
        .filter('highlightInName', function() {
            return function(str, needle) {
                return str.replace(needle, '<strong>' + needle + '</strong>');
            };
        })
        .controller('demoController', ['starwars', '$scope', function(starwars, $scope) {

            var self = this;

            starwars.people().then(function(data) {
                self.peopleList = data.results;
            });

        }])
        .run(['starwars', function(starwars){
        	// TODO: preload
        }]);
    </script>
    <style>
    strong {
        background: yellow;
    }
    </style>
</head>

<body ng-controller="demoController as ctrl">
    <div>
        <form>
            <input type="search" ng-model="ctrl.searchText" />
        </form>
    </div>
    <ul>
        <li ng-repeat="p in ctrl.peopleList | filter:{name:ctrl.searchText}" ng-bind-html="p.name | highlightInName:ctrl.searchText">
        </li>
    </ul>
</body>

</html>
